<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>数据大屏·基础版</title>
    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/echarts.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/echarts-liquidfill.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/echarts-wordcloud.min.js') }}"></script>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body style='background-image: url("{{ url_for('static', filename='img/bg.png') }}");'>
<div class="screen--6GoCI">
    <div class="left">
        <div id="monitor_store" class="component--GgGmF" style="width:400px; height:240px;">
            <div class="board--HpZ9N">
                <div class="item--gukK1">
                    <p>监控店铺数量</p>
                    <p class="count_shop_name"></p>
                </div>
                <div class="sitems--SGmH8">
                    <div class="item--mIADu">
                        <p>总评论量</p>
                        <p class="count_comments_id"></p>
                    </div>
                    <div class="item--mIADu">
                        <p>总商品量</p>
                        <p class="count_product_id"></p>
                    </div>
                    <div class="item--mIADu">
                        <p>总成交金额</p>
                        <p class="sum_data_price"></p>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $.ajax({
                type: "GET",
                url: '/monitor_store',
                success: function (result) {
                    $(".count_comments_id").html(result.count_comments_id)
                    $(".count_product_id").html(result.count_product_id)
                    $(".count_shop_name").html(result.count_shop_name)
                    $(".sum_data_price").html(result.sum_data_price)
                }
            })
        </script>

        <div id="word_cloud_diamond" class="component--GgGmF" style="width:400px; height:240px;"></div>
        <script>
            $(
                function () {
                    var chart = echarts.init(document.getElementById('word_cloud_diamond'), 'white', {renderer: 'canvas'});
                    $.ajax({
                        type: "GET",
                        url: "/word_cloud_diamond",
                        dataType: 'json',
                        success: function (result) {
                            chart.setOption(result);
                        }
                    });
                }
            )
        </script>

        <div id="bar_datazoom_slider" class="component--GgGmF" style="width:400px; height:240px;"></div>
        <script>
            $(
                function () {
                    var chart = echarts.init(document.getElementById('bar_datazoom_slider'), 'white', {renderer: 'canvas'});
                    $.ajax({
                        type: "GET",
                        url: "/bar_datazoom_slider",
                        dataType: 'json',
                        success: function (result) {
                            chart.setOption(result);
                        }
                    });
                }
            )
        </script>
    </div>

    <div class="center">

        <div id="pie_chart" class="component--GgGmF" style="width:660px; height:500px;"></div>
        <script>
            $(
                function () {
                    var chart = echarts.init(document.getElementById('pie_chart'), 'white', {renderer: 'canvas'});
                    $.ajax({
                        type: "GET",
                        url: "/pie_chart",
                        dataType: 'json',
                        success: function (result) {
                            chart.setOption(result);
                        }
                    });
                }
            )
        </script>

        <div id="product_sales" class="component--GgGmF" style="width:660px; height:240px;">
            <table>
                <tbody class="tbody_product_sales">
                </tbody>
            </table>
        </div>
        <script>
            $.ajax({
                type: "GET",
                url: '/product_sales',
                success: function (result) {
                    var str = "           <tr>" +
                        "                    <th>名称</th>" +
                        "                    <th>价格</th>" +
                        "                    <th>销量</th>" +
                        "                    <th>累计成交金额</th>" +
                        "                    <th>店铺</th>" +
                        "                </tr>";
                    $.each(result, function (key, val) {
                        str += '<tr>' +
                            '<td>' + val.product_color + '</td>' +
                            '<td>' + val.data_price + '</td>' +
                            '<td>' + val.count_comments_id + '</td>' +
                            '<td>' + val.product_id_search + '</td>' +
                            '<td>' + val.shop_name + '</td>' +
                            '</tr>';
                    });
                    $('.tbody_product_sales').html(str);
                }
            })
        </script>
    </div>

    <div class="right">
        <div id="boughnut_chart" class="component--GgGmF" style="width:400px; height:240px;"></div>
        <script>
            $(
                function () {
                    var chart = echarts.init(document.getElementById('boughnut_chart'), 'white', {renderer: 'canvas'});
                    $.ajax({
                        type: "GET",
                        url: "/boughnut_chart",
                        dataType: 'json',
                        success: function (result) {
                            chart.setOption(result);
                        }
                    });
                }
            )
        </script>
        <div id="bar_reversal_axis" class="component--GgGmF" style="width:400px; height:500px;"></div>
        <script>
            $(
                function () {
                    var chart = echarts.init(document.getElementById('bar_reversal_axis'), 'white', {renderer: 'canvas'});
                    $.ajax({
                        type: "GET",
                        url: "/bar_reversal_axis",
                        dataType: 'json',
                        success: function (result) {
                            chart.setOption(result);
                        }
                    });
                }
            )
        </script>
    </div>
</div>
</body>
</html>
