<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}"/>
</head>
<body>
<div id="login">
    <h1>Login</h1>
    <form method="post" autocomplete="off">
        <input type="text" required="required" placeholder="用户名" name="user" autocomplete="new-text"></input>
        <input type="password" required="required" placeholder="密码" name="pwd" autocomplete="new-password"></input>
        <button class="but" type="submit">登录</button>
        <p>{{msg}}</p>
    </form>
</div>
</body>
</html>