<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="b5e2bf83d8a844998e8c48b10258c5e1" class="chart-container" style="width:1600px; height:1000px;"></div>
    <script>
        var chart_b5e2bf83d8a844998e8c48b10258c5e1 = echarts.init(
            document.getElementById('b5e2bf83d8a844998e8c48b10258c5e1'), 'white', {renderer: 'canvas'});
        var option_b5e2bf83d8a844998e8c48b10258c5e1 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "heatmap",
            "coordinateSystem": "calendar",
            "data": [
                [
                    "2017-01-01",
                    4414
                ],
                [
                    "2017-01-02",
                    14290
                ],
                [
                    "2017-01-03",
                    23933
                ],
                [
                    "2017-01-04",
                    16616
                ],
                [
                    "2017-01-05",
                    7816
                ],
                [
                    "2017-01-06",
                    9460
                ],
                [
                    "2017-01-07",
                    7492
                ],
                [
                    "2017-01-08",
                    20418
                ],
                [
                    "2017-01-09",
                    13328
                ],
                [
                    "2017-01-10",
                    16650
                ],
                [
                    "2017-01-11",
                    23523
                ],
                [
                    "2017-01-12",
                    17634
                ],
                [
                    "2017-01-13",
                    4927
                ],
                [
                    "2017-01-14",
                    22992
                ],
                [
                    "2017-01-15",
                    18219
                ],
                [
                    "2017-01-16",
                    3667
                ],
                [
                    "2017-01-17",
                    24509
                ],
                [
                    "2017-01-18",
                    6325
                ],
                [
                    "2017-01-19",
                    23977
                ],
                [
                    "2017-01-20",
                    2119
                ],
                [
                    "2017-01-21",
                    5794
                ],
                [
                    "2017-01-22",
                    5797
                ],
                [
                    "2017-01-23",
                    24439
                ],
                [
                    "2017-01-24",
                    17570
                ],
                [
                    "2017-01-25",
                    17574
                ],
                [
                    "2017-01-26",
                    21901
                ],
                [
                    "2017-01-27",
                    6228
                ],
                [
                    "2017-01-28",
                    23758
                ],
                [
                    "2017-01-29",
                    24651
                ],
                [
                    "2017-01-30",
                    5090
                ],
                [
                    "2017-01-31",
                    24599
                ],
                [
                    "2017-02-01",
                    16177
                ],
                [
                    "2017-02-02",
                    23027
                ],
                [
                    "2017-02-03",
                    16001
                ],
                [
                    "2017-02-04",
                    4904
                ],
                [
                    "2017-02-05",
                    13071
                ],
                [
                    "2017-02-06",
                    10036
                ],
                [
                    "2017-02-07",
                    13357
                ],
                [
                    "2017-02-08",
                    2754
                ],
                [
                    "2017-02-09",
                    6128
                ],
                [
                    "2017-02-10",
                    18809
                ],
                [
                    "2017-02-11",
                    7485
                ],
                [
                    "2017-02-12",
                    20217
                ],
                [
                    "2017-02-13",
                    19954
                ],
                [
                    "2017-02-14",
                    22655
                ],
                [
                    "2017-02-15",
                    16697
                ],
                [
                    "2017-02-16",
                    17156
                ],
                [
                    "2017-02-17",
                    5290
                ],
                [
                    "2017-02-18",
                    5786
                ],
                [
                    "2017-02-19",
                    8654
                ],
                [
                    "2017-02-20",
                    9626
                ],
                [
                    "2017-02-21",
                    23083
                ],
                [
                    "2017-02-22",
                    8490
                ],
                [
                    "2017-02-23",
                    16734
                ],
                [
                    "2017-02-24",
                    7764
                ],
                [
                    "2017-02-25",
                    11119
                ],
                [
                    "2017-02-26",
                    17959
                ],
                [
                    "2017-02-27",
                    4187
                ],
                [
                    "2017-02-28",
                    5502
                ],
                [
                    "2017-03-01",
                    18326
                ],
                [
                    "2017-03-02",
                    19197
                ],
                [
                    "2017-03-03",
                    10916
                ],
                [
                    "2017-03-04",
                    3929
                ],
                [
                    "2017-03-05",
                    2757
                ],
                [
                    "2017-03-06",
                    8353
                ],
                [
                    "2017-03-07",
                    2909
                ],
                [
                    "2017-03-08",
                    16461
                ],
                [
                    "2017-03-09",
                    15019
                ],
                [
                    "2017-03-10",
                    11780
                ],
                [
                    "2017-03-11",
                    4563
                ],
                [
                    "2017-03-12",
                    16238
                ],
                [
                    "2017-03-13",
                    12673
                ],
                [
                    "2017-03-14",
                    21967
                ],
                [
                    "2017-03-15",
                    20759
                ],
                [
                    "2017-03-16",
                    20672
                ],
                [
                    "2017-03-17",
                    3801
                ],
                [
                    "2017-03-18",
                    9811
                ],
                [
                    "2017-03-19",
                    24594
                ],
                [
                    "2017-03-20",
                    9312
                ],
                [
                    "2017-03-21",
                    5669
                ],
                [
                    "2017-03-22",
                    17153
                ],
                [
                    "2017-03-23",
                    8974
                ],
                [
                    "2017-03-24",
                    9031
                ],
                [
                    "2017-03-25",
                    4971
                ],
                [
                    "2017-03-26",
                    17692
                ],
                [
                    "2017-03-27",
                    24466
                ],
                [
                    "2017-03-28",
                    11885
                ],
                [
                    "2017-03-29",
                    10447
                ],
                [
                    "2017-03-30",
                    16612
                ],
                [
                    "2017-03-31",
                    20992
                ],
                [
                    "2017-04-01",
                    11498
                ],
                [
                    "2017-04-02",
                    5709
                ],
                [
                    "2017-04-03",
                    8481
                ],
                [
                    "2017-04-04",
                    11162
                ],
                [
                    "2017-04-05",
                    15865
                ],
                [
                    "2017-04-06",
                    5113
                ],
                [
                    "2017-04-07",
                    10941
                ],
                [
                    "2017-04-08",
                    3792
                ],
                [
                    "2017-04-09",
                    14613
                ],
                [
                    "2017-04-10",
                    12364
                ],
                [
                    "2017-04-11",
                    6269
                ],
                [
                    "2017-04-12",
                    21553
                ],
                [
                    "2017-04-13",
                    7579
                ],
                [
                    "2017-04-14",
                    23621
                ],
                [
                    "2017-04-15",
                    7324
                ],
                [
                    "2017-04-16",
                    9931
                ],
                [
                    "2017-04-17",
                    1690
                ],
                [
                    "2017-04-18",
                    16001
                ],
                [
                    "2017-04-19",
                    3135
                ],
                [
                    "2017-04-20",
                    9602
                ],
                [
                    "2017-04-21",
                    7902
                ],
                [
                    "2017-04-22",
                    6206
                ],
                [
                    "2017-04-23",
                    17077
                ],
                [
                    "2017-04-24",
                    7724
                ],
                [
                    "2017-04-25",
                    23964
                ],
                [
                    "2017-04-26",
                    22133
                ],
                [
                    "2017-04-27",
                    23185
                ],
                [
                    "2017-04-28",
                    21833
                ],
                [
                    "2017-04-29",
                    7210
                ],
                [
                    "2017-04-30",
                    14845
                ],
                [
                    "2017-05-01",
                    24161
                ],
                [
                    "2017-05-02",
                    1563
                ],
                [
                    "2017-05-03",
                    4583
                ],
                [
                    "2017-05-04",
                    10983
                ],
                [
                    "2017-05-05",
                    13439
                ],
                [
                    "2017-05-06",
                    18400
                ],
                [
                    "2017-05-07",
                    13362
                ],
                [
                    "2017-05-08",
                    3434
                ],
                [
                    "2017-05-09",
                    23179
                ],
                [
                    "2017-05-10",
                    4698
                ],
                [
                    "2017-05-11",
                    14895
                ],
                [
                    "2017-05-12",
                    23924
                ],
                [
                    "2017-05-13",
                    9069
                ],
                [
                    "2017-05-14",
                    10016
                ],
                [
                    "2017-05-15",
                    2363
                ],
                [
                    "2017-05-16",
                    13814
                ],
                [
                    "2017-05-17",
                    8858
                ],
                [
                    "2017-05-18",
                    18258
                ],
                [
                    "2017-05-19",
                    10124
                ],
                [
                    "2017-05-20",
                    9040
                ],
                [
                    "2017-05-21",
                    22960
                ],
                [
                    "2017-05-22",
                    11585
                ],
                [
                    "2017-05-23",
                    13457
                ],
                [
                    "2017-05-24",
                    18906
                ],
                [
                    "2017-05-25",
                    7778
                ],
                [
                    "2017-05-26",
                    23620
                ],
                [
                    "2017-05-27",
                    4982
                ],
                [
                    "2017-05-28",
                    14426
                ],
                [
                    "2017-05-29",
                    18551
                ],
                [
                    "2017-05-30",
                    12402
                ],
                [
                    "2017-05-31",
                    14097
                ],
                [
                    "2017-06-01",
                    20457
                ],
                [
                    "2017-06-02",
                    6440
                ],
                [
                    "2017-06-03",
                    13262
                ],
                [
                    "2017-06-04",
                    14165
                ],
                [
                    "2017-06-05",
                    11619
                ],
                [
                    "2017-06-06",
                    16609
                ],
                [
                    "2017-06-07",
                    6818
                ],
                [
                    "2017-06-08",
                    3813
                ],
                [
                    "2017-06-09",
                    20450
                ],
                [
                    "2017-06-10",
                    19289
                ],
                [
                    "2017-06-11",
                    2691
                ],
                [
                    "2017-06-12",
                    2996
                ],
                [
                    "2017-06-13",
                    22792
                ],
                [
                    "2017-06-14",
                    16990
                ],
                [
                    "2017-06-15",
                    12085
                ],
                [
                    "2017-06-16",
                    13303
                ],
                [
                    "2017-06-17",
                    8758
                ],
                [
                    "2017-06-18",
                    22139
                ],
                [
                    "2017-06-19",
                    24344
                ],
                [
                    "2017-06-20",
                    19395
                ],
                [
                    "2017-06-21",
                    22613
                ],
                [
                    "2017-06-22",
                    19048
                ],
                [
                    "2017-06-23",
                    12950
                ],
                [
                    "2017-06-24",
                    23683
                ],
                [
                    "2017-06-25",
                    18073
                ],
                [
                    "2017-06-26",
                    16752
                ],
                [
                    "2017-06-27",
                    10100
                ],
                [
                    "2017-06-28",
                    12874
                ],
                [
                    "2017-06-29",
                    5326
                ],
                [
                    "2017-06-30",
                    22871
                ],
                [
                    "2017-07-01",
                    3240
                ],
                [
                    "2017-07-02",
                    16391
                ],
                [
                    "2017-07-03",
                    1742
                ],
                [
                    "2017-07-04",
                    13560
                ],
                [
                    "2017-07-05",
                    22893
                ],
                [
                    "2017-07-06",
                    21744
                ],
                [
                    "2017-07-07",
                    14903
                ],
                [
                    "2017-07-08",
                    1885
                ],
                [
                    "2017-07-09",
                    6383
                ],
                [
                    "2017-07-10",
                    20818
                ],
                [
                    "2017-07-11",
                    24628
                ],
                [
                    "2017-07-12",
                    15237
                ],
                [
                    "2017-07-13",
                    23802
                ],
                [
                    "2017-07-14",
                    9290
                ],
                [
                    "2017-07-15",
                    21105
                ],
                [
                    "2017-07-16",
                    21692
                ],
                [
                    "2017-07-17",
                    17185
                ],
                [
                    "2017-07-18",
                    24269
                ],
                [
                    "2017-07-19",
                    9511
                ],
                [
                    "2017-07-20",
                    7963
                ],
                [
                    "2017-07-21",
                    18345
                ],
                [
                    "2017-07-22",
                    4818
                ],
                [
                    "2017-07-23",
                    22546
                ],
                [
                    "2017-07-24",
                    8861
                ],
                [
                    "2017-07-25",
                    13951
                ],
                [
                    "2017-07-26",
                    16502
                ],
                [
                    "2017-07-27",
                    21212
                ],
                [
                    "2017-07-28",
                    14804
                ],
                [
                    "2017-07-29",
                    12712
                ],
                [
                    "2017-07-30",
                    23875
                ],
                [
                    "2017-07-31",
                    13006
                ],
                [
                    "2017-08-01",
                    16802
                ],
                [
                    "2017-08-02",
                    17226
                ],
                [
                    "2017-08-03",
                    18072
                ],
                [
                    "2017-08-04",
                    2418
                ],
                [
                    "2017-08-05",
                    8291
                ],
                [
                    "2017-08-06",
                    2420
                ],
                [
                    "2017-08-07",
                    20702
                ],
                [
                    "2017-08-08",
                    13406
                ],
                [
                    "2017-08-09",
                    16649
                ],
                [
                    "2017-08-10",
                    10205
                ],
                [
                    "2017-08-11",
                    14909
                ],
                [
                    "2017-08-12",
                    19950
                ],
                [
                    "2017-08-13",
                    13500
                ],
                [
                    "2017-08-14",
                    3989
                ],
                [
                    "2017-08-15",
                    17523
                ],
                [
                    "2017-08-16",
                    24018
                ],
                [
                    "2017-08-17",
                    9946
                ],
                [
                    "2017-08-18",
                    23048
                ],
                [
                    "2017-08-19",
                    24746
                ],
                [
                    "2017-08-20",
                    9883
                ],
                [
                    "2017-08-21",
                    13707
                ],
                [
                    "2017-08-22",
                    19392
                ],
                [
                    "2017-08-23",
                    14954
                ],
                [
                    "2017-08-24",
                    8255
                ],
                [
                    "2017-08-25",
                    5515
                ],
                [
                    "2017-08-26",
                    22576
                ],
                [
                    "2017-08-27",
                    3915
                ],
                [
                    "2017-08-28",
                    18338
                ],
                [
                    "2017-08-29",
                    1662
                ],
                [
                    "2017-08-30",
                    4437
                ],
                [
                    "2017-08-31",
                    19172
                ],
                [
                    "2017-09-01",
                    17037
                ],
                [
                    "2017-09-02",
                    22285
                ],
                [
                    "2017-09-03",
                    18512
                ],
                [
                    "2017-09-04",
                    10361
                ],
                [
                    "2017-09-05",
                    7974
                ],
                [
                    "2017-09-06",
                    4903
                ],
                [
                    "2017-09-07",
                    14639
                ],
                [
                    "2017-09-08",
                    14389
                ],
                [
                    "2017-09-09",
                    17633
                ],
                [
                    "2017-09-10",
                    3959
                ],
                [
                    "2017-09-11",
                    20456
                ],
                [
                    "2017-09-12",
                    10641
                ],
                [
                    "2017-09-13",
                    20682
                ],
                [
                    "2017-09-14",
                    16991
                ],
                [
                    "2017-09-15",
                    21573
                ],
                [
                    "2017-09-16",
                    9402
                ],
                [
                    "2017-09-17",
                    18542
                ],
                [
                    "2017-09-18",
                    5039
                ],
                [
                    "2017-09-19",
                    16032
                ],
                [
                    "2017-09-20",
                    16699
                ],
                [
                    "2017-09-21",
                    5114
                ],
                [
                    "2017-09-22",
                    3363
                ],
                [
                    "2017-09-23",
                    10219
                ],
                [
                    "2017-09-24",
                    11095
                ],
                [
                    "2017-09-25",
                    23167
                ],
                [
                    "2017-09-26",
                    13387
                ],
                [
                    "2017-09-27",
                    10794
                ],
                [
                    "2017-09-28",
                    5753
                ],
                [
                    "2017-09-29",
                    12091
                ],
                [
                    "2017-09-30",
                    5741
                ],
                [
                    "2017-10-01",
                    2782
                ],
                [
                    "2017-10-02",
                    23989
                ],
                [
                    "2017-10-03",
                    2209
                ],
                [
                    "2017-10-04",
                    8797
                ],
                [
                    "2017-10-05",
                    10546
                ],
                [
                    "2017-10-06",
                    23484
                ],
                [
                    "2017-10-07",
                    2145
                ],
                [
                    "2017-10-08",
                    9184
                ],
                [
                    "2017-10-09",
                    14487
                ],
                [
                    "2017-10-10",
                    4686
                ],
                [
                    "2017-10-11",
                    1722
                ],
                [
                    "2017-10-12",
                    24057
                ],
                [
                    "2017-10-13",
                    9163
                ],
                [
                    "2017-10-14",
                    12180
                ],
                [
                    "2017-10-15",
                    24845
                ],
                [
                    "2017-10-16",
                    6041
                ],
                [
                    "2017-10-17",
                    12418
                ],
                [
                    "2017-10-18",
                    7096
                ],
                [
                    "2017-10-19",
                    2222
                ],
                [
                    "2017-10-20",
                    3064
                ],
                [
                    "2017-10-21",
                    13218
                ],
                [
                    "2017-10-22",
                    9919
                ],
                [
                    "2017-10-23",
                    8924
                ],
                [
                    "2017-10-24",
                    12510
                ],
                [
                    "2017-10-25",
                    4917
                ],
                [
                    "2017-10-26",
                    21612
                ],
                [
                    "2017-10-27",
                    18312
                ],
                [
                    "2017-10-28",
                    18311
                ],
                [
                    "2017-10-29",
                    14233
                ],
                [
                    "2017-10-30",
                    9519
                ],
                [
                    "2017-10-31",
                    24984
                ],
                [
                    "2017-11-01",
                    7577
                ],
                [
                    "2017-11-02",
                    9190
                ],
                [
                    "2017-11-03",
                    16145
                ],
                [
                    "2017-11-04",
                    22955
                ],
                [
                    "2017-11-05",
                    4088
                ],
                [
                    "2017-11-06",
                    9712
                ],
                [
                    "2017-11-07",
                    13486
                ],
                [
                    "2017-11-08",
                    16506
                ],
                [
                    "2017-11-09",
                    12753
                ],
                [
                    "2017-11-10",
                    4978
                ],
                [
                    "2017-11-11",
                    23445
                ],
                [
                    "2017-11-12",
                    8775
                ],
                [
                    "2017-11-13",
                    2233
                ],
                [
                    "2017-11-14",
                    18867
                ],
                [
                    "2017-11-15",
                    10653
                ],
                [
                    "2017-11-16",
                    5408
                ],
                [
                    "2017-11-17",
                    24803
                ],
                [
                    "2017-11-18",
                    24180
                ],
                [
                    "2017-11-19",
                    14148
                ],
                [
                    "2017-11-20",
                    24959
                ],
                [
                    "2017-11-21",
                    1294
                ],
                [
                    "2017-11-22",
                    18259
                ],
                [
                    "2017-11-23",
                    10543
                ],
                [
                    "2017-11-24",
                    10889
                ],
                [
                    "2017-11-25",
                    10016
                ],
                [
                    "2017-11-26",
                    14493
                ],
                [
                    "2017-11-27",
                    20507
                ],
                [
                    "2017-11-28",
                    22427
                ],
                [
                    "2017-11-29",
                    6768
                ],
                [
                    "2017-11-30",
                    12505
                ],
                [
                    "2017-12-01",
                    13121
                ],
                [
                    "2017-12-02",
                    9240
                ],
                [
                    "2017-12-03",
                    13963
                ],
                [
                    "2017-12-04",
                    17482
                ],
                [
                    "2017-12-05",
                    2172
                ],
                [
                    "2017-12-06",
                    15943
                ],
                [
                    "2017-12-07",
                    19292
                ],
                [
                    "2017-12-08",
                    3314
                ],
                [
                    "2017-12-09",
                    13528
                ],
                [
                    "2017-12-10",
                    3362
                ],
                [
                    "2017-12-11",
                    13224
                ],
                [
                    "2017-12-12",
                    14340
                ],
                [
                    "2017-12-13",
                    9333
                ],
                [
                    "2017-12-14",
                    20135
                ],
                [
                    "2017-12-15",
                    7439
                ],
                [
                    "2017-12-16",
                    23117
                ],
                [
                    "2017-12-17",
                    14637
                ],
                [
                    "2017-12-18",
                    18878
                ],
                [
                    "2017-12-19",
                    10192
                ],
                [
                    "2017-12-20",
                    23876
                ],
                [
                    "2017-12-21",
                    22333
                ],
                [
                    "2017-12-22",
                    2468
                ],
                [
                    "2017-12-23",
                    7218
                ],
                [
                    "2017-12-24",
                    16384
                ],
                [
                    "2017-12-25",
                    16464
                ],
                [
                    "2017-12-26",
                    4628
                ],
                [
                    "2017-12-27",
                    9824
                ],
                [
                    "2017-12-28",
                    9151
                ],
                [
                    "2017-12-29",
                    18123
                ],
                [
                    "2017-12-30",
                    16971
                ],
                [
                    "2017-12-31",
                    16274
                ]
            ],
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                ""
            ],
            "selected": {
                "": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "calendar": {
        "left": "30",
        "top": "120",
        "right": "30",
        "width": "auto",
        "orient": "horizontal",
        "range": "2017",
        "cellSize": 20,
        "yearLabel": {
            "show": false,
            "color": "#000",
            "fontStyle": "normal",
            "fontWeight": "normal",
            "fontFamily": "sans-serif",
            "fontSize": 12
        }
    },
    "title": [
        {
            "text": "2017\u5e74\u6b65\u6570\u60c5\u51b5",
            "left": "center",
            "top": "30",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "visualMap": {
        "show": true,
        "type": "continuous",
        "min": 500,
        "max": 20000,
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "orient": "horizontal",
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 140,
        "borderWidth": 0
    }
};
        chart_b5e2bf83d8a844998e8c48b10258c5e1.setOption(option_b5e2bf83d8a844998e8c48b10258c5e1);
    </script>
</body>
</html>
